* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header-1 {
  background: #f5f5f5;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header-1 form {
  display: flex;
  align-items: center;
}
.row-header-search {
  padding: 5px 0 5px 10px;
  display: flex;
  align-items: center;
}

.row-header-search input {
  font-size: 15px;
  padding: 10px;
}
.img-content{
  opacity: 0.8;
}
#header-1 .seach-icon {
  color: aliceblue;
  padding: 12px;
  border: none;
  background-color: #545457;
  font-size: 16px;
  cursor: pointer;
}
#header .cart-icon a {
  padding: 0 10rem 0 10px;
  font-size: 35px;
  color: #f44336;
  display: inline;
  text-decoration: none;
}

#header-2 .container {
  border-bottom: 2px solid #f5f5f5;
}
#header-2 .container {
  display: flex;
  justify-content: center;
}
.container .header-menu li {
  font-size: 20px;
  font-weight: 850;
  padding: 30px 4rem;
  text-decoration: none;
  display: inline-block;
}
.container .header-menu a {
  text-decoration: none;
  color: #454545;
}
.container .header-menu a:hover {
  color: #8f8f8f;
}

.container .header-menu .logo-shop {
  font-size: 40px;
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  animation: marquee 26s linear infinite;
  font-size: 20px;
  color: #545457;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.tab-product{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #f5f5f5;
}

.tab-product .menu-product a {
  color: #454545;
  text-decoration: none;
}
.tab-product .menu-product a:hover {
  color: #8f8f8f;
}
.tab-product {
  border-bottom: 2px solid #f5f5f5;
}
#content > .tab-product li {
  display: inline-block;
  font-size: 30px;
  padding: 20px 5rem;
  text-align: center;
}
#content .tab-product {
  display: flex;
  justify-content: center;
   z-index: 10;
}

#content .namelogoVANS,#content .namelogoJORDAN,#content .namelogoNIKE{
  font-weight: 500;
  color: #454545;
  font-size: 28px;
  width: 100%;
  padding: 25px 0 0 10.5rem;
}
#content .item-products-vans {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  flex-wrap: wrap;
  
}
#content .item-product {
  width: calc(25% - 10px);
  margin-bottom: 10px;
  padding: 25px;
}
#content .item-product img {
  width: 18rem;
  height: 18rem;
  border-radius: 3%;
  
}
#content .item-product img:hover {
  opacity: 0.6;
}
#content .item-product a {
  text-decoration: none;
}
.item-products-vans > .item-product h4 {
  color: #454545;
}
.infor-porduct > h5 {
  color: #8f8f8f;
}
.item-products-vans .infor-porduct h2 {
  font-size: 20px;
  color: #f44336;
}
