* {
  font-family: "Arial", monospace;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10px;
}
html {
  scroll-behavior: smooth; /* hành vi vuộn chuôt  */
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("img/background.jpg");
  text-align: center;
}
.header {
  display: flex;
  width: 100%;
  height: 68px;
  background-color: rgb(206, 206, 206);
  box-shadow: 0.5px 0px 0.5px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 6px 8px;
}
.tab {
  padding-left: 10px;
  font-size: 26px;
  margin-top: 25px;
  color: rgb(40, 41, 41);
}
.header a img {
  margin-top: -62px;
  padding-left: 42px;
  text-align: center;
}
.header i:hover {
  color: aliceblue;
}
.header i:hover .subnav {
  display: block;
}
.subnav {
  display: none;
  position: fixed;
  left: 0;
  padding-left: 0;
  height: 172px;
  margin-top: 3px;
  width: 93px;
  font-size: 26px;
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
}
.subnav a {
  padding: 0 0 16px 0;
  font-size: 26px;
  color: rgb(59, 59, 59);
}
.subnav li {
  padding: 10px;
}
.subnav li:hover {
  background-color: bisque;
}
.body {
  width: 100%;
  height: 400px;
  background-image: url("img/368506657_312651034498276_2302295980192320497_n.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0.5px 0px 5px blanchedalmond;
}
.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.5); /* Màu đen với độ trong suốt 50% */
  backdrop-filter: blur(0.2px);
  z-index: -1;
}
.body .nameshop {
  display: flex;
  font-size: 120px;
  color: antiquewhite;
  align-items: center;
  justify-content: center;
  margin-top: 164px;
  
}
