* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial;
  text-decoration: none;
  
}
#header {
  background-color: rgb(231, 231, 231);
  height: 50px;
  position: relative;
}
#header img {
  line-height: 50px;
  position: absolute;
  height: 50px;
}

#header .nav {
  display: inline-block;
  position: absolute;
  right: 0;
}
.nav li {
  padding: 0 20px;
  line-height: 50px;
  display: inline-block;
}
.nav li a {
  color: black;
}
#header img,
.nav {
  padding: 0 20px;
}
.banner-title img {
  position: relative;
  height: 720px;
  background-color: rgba(0, 0, 0, 0.9);
}
#banner-title {
  position: relative;
  background: url("img/banner.jpg") top center / cover no-repeat;
  padding-top: 50%;
  display: flex;
  justify-content: center;
}
#banner-title > .title {
  position: absolute;
  top: 30%;
  padding-left: 50px;
  text-shadow: 0px 0px 5px black;
}
#banner-title h1 {
  padding-bottom: 20px;
  font-size: 5rem;
  color: white;
}
#banner-title p {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.text-header {
  text-decoration: underline rgb(111, 247, 152);
  text-align: center;
  padding: 25px 0px 130px 0px;
}
.list {
  height: 1920px;
  display: flex;
  padding: 10px 25px;
}
.list .icon {
  width: 33.33333%;
  font-size: 60px;
  text-align: center;
}
.list .icon h5 {
  padding: 15px;
  font-size: 35px;
  color: rgb(99, 221, 136);
}
.list .icon p {
  font-size: 35px;
  padding: 0 35px;
  color: grey;
}
