<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/tytle.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="/create">Create User</a>
    </div>

    <!-- <form class="from" action="/submit-user" method="post">
      <fieldset>
        <legend>FORM:</legend>
        <br />
        <label for="emali">email</label>
        <input type="emali" name="email" />
        <br />
        <br />
        <label>name</label>
        <input type="text" name="name" />
        <br />
        <br />
        <label for="city">city</label>
        <input type="text" name="city" />
        <br />
        <br />
      <input class="save" type="submit" value="Save" />
        <button>save</button>
      </fieldset>
    </form> -->

    <table>
      <tr class="header">
        <td class="company-list">ID</td>
        <td>Name</td>
        <td>email</td>
        <td>City</td>
      </tr>
      <tr class="row-1">
        <td class="company-list">Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
      </tr>
      <tr class="row-2">
        <td class="company-list">Centro comercail Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>Mexico</td>
      </tr>
      <tr class="row-1">
        <td class="company-list">Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
        <td>Austria</td>
      </tr>
      <tr class="row-2">
        <td class="company-list">Island Tranding</td>
        <td>Helen Bennett</td>
        <td>UK</td>
        <td>UK</td>
      </tr>
      <tr class="row-1">
        <td class="company-list">Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
        <td>Canada</td>
      </tr>
      <tr class="row-2">
        <td class="company-list">North/South</td>
        <td>Simon Crowther</td>
        <td>UK</td>
        <td>UK</td>
      </tr>
    </table>
  </body>
</html>
