*{
    font-family: sans-serif;
}
.header{
    text-align: center;
    color: red;
    background-color: gray;
}
.content h2{
    text-align: center;
    color: red;
}
.new{
    color: blue;
}
.highlight{
    background-color: gold;
}
.footer{
    background-color: gray;
    text-align: right;
}