.library img{
    width: 150px;
    height: 130px;
    border: 1px solid gray;
}
.library .item{
    border: 2px solid gray;
    display: inline-block;
    text-align: center;
}
.library{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}