.iiml ::before {
  content: '';
  position: absolute;
  top: 7px; 
  left: 2px;
  width: 5px;
  height: 5px; 
  border: 2px solid #d756fa;
}
.iiml::after {
  content: '';
  position: absolute;
  top: 10px; 
  left: 5px; 
  width: 5px; 
  height: 5px; 
  border:2px solid #ef91ed; 
  z-index: -1; 
}