* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial;
  text-decoration: none;
}
#header {
  background-color: rgb(231, 231, 231);
  height: 50px;
  position: relative;
  
}
#header img {
  line-height: 50px;
  position: absolute;
  height: 50px;
}

#header .nav {
  display: inline-block;
  position: absolute;
  right: 0;
}
.nav li {
  padding: 0 20px;
  line-height: 50px;
  display: inline-block;
}
.nav li:hover{
  background-color: brown;
  color: aliceblue;
}
.nav li a {
  color: black;
}
#header img , .nav {
  padding: 0 20px;
}