*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right,#4daf53,#3d8883);
}
.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}
.card-heart, .card-cart{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.card-cart{
    left: unset;
    right: 20px;
}
.card-img{
    width: 100%;
    text-align: center;
}
.card-img img{ 
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.card-tittle, .card-price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.card-tittle{
    color: #4daf54;
}